.chessboard {
  &-show {
    width: max-content;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &-fixed-wrapper {
    position: absolute;
    z-index: 111111111111111111111111;
  }
}

.react-draggable {
  transform: none !important;
}
